$foregroundZIndex: 10;
$spacing: 0.5rem;
$smallCircleSize: 3rem;
$attendeesHeight: $smallCircleSize + 2 * $spacing;
$headerButtonHeight: 2rem;
$headerHeight: $headerButtonHeight + 2 * $spacing;

$popoutVideoMaxHeight: 7rem;
$popoutVideoMaxWidth: 7rem;
$desktopChatWidth: 30rem;

$veryDarkGray: #202225;
$darkGray: #2f3136;
$gray: #36393f;
$lightGray: #585c63;
$veryLightGray: #d2d2d2;
$videoContainerBackgroundColor: black;
