@import "../variables";

#whiteboard-container {
  position: relative;
}

#whiteboard-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#whiteboard-controls {
  position: absolute;
  left: 0;
  z-index: $foregroundZIndex;
  padding: $spacing;
  font-size: 0; /* Avoids unintended gaps because of whitespaces between the controls */
  @media screen and (min-width: 47rem) {
    top: 0;
  }
  @media not screen and (min-width: 47rem) {
    bottom: 0;
  }
}

.whiteboard-control {
  display: inline-block;
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.whiteboard-color {
  border: 1px solid #bbb;
}

.whiteboard-color.active {
  border: 2px solid #333;
}
