@import "../variables";

#room-root {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: $headerHeight $attendeesHeight 1fr;
  color: $veryLightGray;

  .avatar {
    &.color-0 {
      background-color: #fe8b5e;
      color: #7d452e;
    }
    &.color-1 {
      background-color: #c455e6;
      color: #572666;
    }
    &.color-2 {
      background-color: #6ab6fc;
      color: #375e82;
    }
    &.color-3 {
      background-color: #55e66d;
      color: #296e34;
    }
    &.color-4 {
      background-color: #ffec70;
      color: #7d7437;
    }
  }

  #header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: $veryDarkGray;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: $spacing;

    span {
      font-size: $headerButtonHeight;
      cursor: pointer;
    }

    #room-name-display {
      text-align: center;
      padding: $spacing;
    }
  }

  #attendees-container {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: $darkGray;
    white-space: nowrap;
    user-select: none;

    #attendees-self-container {
      > .attendee {
        cursor: not-allowed;
        margin: $spacing 0 $spacing $spacing;
      }
    }

    .separator {
      width: 2px;
      margin: 0.5rem $spacing;
      background: $lightGray;
    }

    #attendees-others-container {
      overflow-x: auto;
      overflow-y: hidden;
      text-align: right;
      > .attendee {
        &:not(.in-call) {
          cursor: pointer;
        }
        &.in-call {
          cursor: not-allowed;
        }
        margin: $spacing $spacing $spacing 0;
      }
    }

    .attendee {
      position: relative;
      > div {
        position: absolute;
        background-color: green;
        border-radius: 50%;
        width: 0.75rem;
        height: 0.75rem;
        bottom: 0;
        right: 0;
      }
      &.in-call > div {
        background-color: red;
      }
    }
  }

  #chat-form {
    grid-column: 1 / 2;
    grid-row: 3 / span 4;
    background: $gray;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    grid-gap: $spacing;
    padding: $spacing;

    #chat-history {
      grid-column: 1 / 3;
      display: flex;
      flex-direction: column-reverse;
      overflow: auto;
      margin-bottom: 0.5em;
      
      .chat-entry {
        display: grid;
        grid-gap: $spacing;
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content max-content;
        margin-top: $spacing * 2;
        .avatar {
          grid-row: 1 / 3;
        }
        .name {
          grid-column: 2 / 3;
          font-weight: bolder;
          .time-stamp {
            font-weight: 400;
            font-size: 0.8em;
            float: right;
            vertical-align: middle;
            margin-right: 8px;
          }
        }
        .content {
          grid-column: 2 / 3;
          overflow-wrap: anywhere;
          padding-right: 1em;
          a {
            color: beige;
          }
        }
      }
    }
  }

  #whiteboard-container {
    background-color: white;
  }

  &.call-fullscreen {
    #received-video-container {
      position: relative;
    }
  }

  #local-video-container,
  #received-video-container {
    background-color: $videoContainerBackgroundColor;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  #hang-up-button {
    position: absolute;
    bottom: $spacing;
    left: 50%;
    transform: translateX(-50%);
    z-index: $foregroundZIndex;
    background-color: #a02f2f;
  }

  &:not(.call-active) {
    #received-video-container,
    #local-video-container,
    #open-video-button {
      display: none;
    }
  }

  #open-chat-button,
  #open-whiteboard-button,
  #open-video-button {
    position: absolute;
    z-index: $foregroundZIndex;
  }

  /*
 Mobil
   links: .call-active.call-fullscreen
   mitte: NO_CLASS OR .call-active
   rechts: .whiteboard-active OR .whiteboard-active.call-active
 Desktop
   links: .call-active.call-fullscreen
   rechts: NO_CLASS OR .call-active
 */

  @media screen and (min-width: 47rem) {
    grid-template-columns: $desktopChatWidth 1fr;
    #whiteboard-container {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
    }
    #open-video-button,
    #open-whiteboard-button {
      top: $spacing;
      left: $desktopChatWidth + $spacing;
    }

    &:not(.call-fullscreen) {
      /*
      #open-chat-button, #whiteboard-container, #local-video-container, #hang-up-button,
      #open-video-button,  #open-whiteboard-button, #chat-form, #received-video-container
       */
      #open-chat-button,
      #local-video-container,
      #hang-up-button,
      #open-whiteboard-button {
        display: none;
      }

      #received-video-container {
        position: absolute;
        top: $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
        cursor: pointer;
      }
    }

    &.call-fullscreen {
      #open-chat-button,
      #whiteboard-container,
      #open-video-button {
        display: none;
      }
      #received-video-container {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
      }
      #local-video-container {
        position: absolute;
        top: $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
      }
    }
  }
  @media not screen and (min-width: 47rem) {
    #open-chat-button,
    #open-whiteboard-button {
      top: $headerHeight + $attendeesHeight + $spacing;
      left: $spacing;
    }

    &:not(.call-fullscreen):not(.whiteboard-active) {
      #open-chat-button,
      #whiteboard-container,
      #local-video-container,
      #hang-up-button,
      #open-video-button {
        display: none;
      }
    }

    &.whiteboard-active {
      #local-video-container,
      #hang-up-button,
      #open-video-button,
      #open-whiteboard-button,
      #chat-form {
        display: none;
      }
    }

    &.call-fullscreen {
      display: unset;

      #header,
      #attendees-container,
      #open-video-button,
      #open-whiteboard-button,
      #chat-form,
      #whiteboard-container {
        display: none;
      }
      #open-chat-button {
        top: unset;
        left: unset;
        bottom: $spacing;
        right: $spacing;
      }
      #local-video-container {
        position: absolute;
        top: $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
        z-index: $foregroundZIndex;
      }
      #received-video-container {
        width: 100%;
        height: 100%;
      }
    }

    &:not(.call-fullscreen) {
      #received-video-container {
        position: absolute;
        top: $headerHeight + $attendeesHeight + $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
      }
    }
  }
}
