$foregroundZIndex: 10;
$spacing: 0.5rem;
$attendeeWidthHeight: 3rem; // TODO import iconbutton width
$attendeesHeight: $attendeeWidthHeight + 2 * $spacing;
$headerButtonHeight: 2rem;
$headerHeight: $headerButtonHeight + 2 * $spacing;

$popoutVideoMaxHeight: 7rem;
$popoutVideoMaxWidth: 7rem;
$desktopChatWidth: 30rem;

$headerColor: #202225;
$attendeesColor: #2f3136;
$chatColor: #36393f;
$chatBoxColor: #585c63;
$fontColor: #a3a5a7;
$videoContainerBackgroundColor: black;

#room-root {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: $headerHeight $attendeesHeight 1fr;
  color: $fontColor;

  input {
    background-color: $chatBoxColor;
    border-color: $chatBoxColor;
    color: $fontColor;
  }

  #header {
    background: $headerColor;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding: $spacing;

    span {
      font-size: $headerButtonHeight;
      cursor: pointer;
    }

    #room-name-display {
      text-align: center;
      padding: $spacing;
    }
  }

  #attendees-container {
    overflow: auto;
    background: $attendeesColor;
    white-space: nowrap;
    user-select: none;

    .attendee {
      margin: $spacing 0 $spacing $spacing;
      position: relative;
      &.attendee-self {
        cursor: not-allowed;
      }
      &.attendee-other {
        cursor: pointer;
      }
      > div {
        position: absolute;
        background-color: green;
        border-radius: 50%;
        width: 0.75rem;
        height: 0.75rem;
        bottom: 0;
        right: 0;
      }
      &.in-call > div {
        background-color: red;
      }
      &:last-child {
        margin-right: $spacing;
      }
      &.color-0 {
        background-color: #fe8b5e;
        color: #7d452e;
      }
      &.color-1 {
        background-color: #c455e6;
        color: #572666;
      }
      &.color-2 {
        background-color: #6ab6fc;
        color: #375e82;
      }
      &.color-3 {
        background-color: #55e66d;
        color: #296e34;
      }
      &.color-4 {
        background-color: #ffec70;
        color: #7d7437;
      }
    }
  }

  #chat-form {
    background: $chatColor;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    grid-gap: $spacing;
    padding: $spacing;

    #chat-history {
      grid-column: 1 / 3;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      overflow: auto;
    }
  }

  #whiteboard-container {
    background-color: white;
  }

  &.call-fullscreen {
    #received-video-container {
      position: relative;
    }
  }

  #local-video-container,
  #received-video-container {
    background-color: $videoContainerBackgroundColor;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  #hang-up-button {
    position: absolute;
    bottom: $spacing;
    left: 50%;
    transform: translateX(-50%);
    z-index: $foregroundZIndex;
  }

  &:not(.call-active) {
    #received-video-container,
    #local-video-container,
    #open-video-button {
      display: none;
    }
  }

  #open-chat-button,
  #open-whiteboard-button,
  #open-video-button {
    position: absolute;
    z-index: $foregroundZIndex;
  }

  /*
 Mobil
   links: .call-active.call-fullscreen
   mitte: NO_CLASS OR .call-active
   rechts: .whiteboard-active OR .whiteboard-active.call-active
 Desktop
   links: .call-active.call-fullscreen
   rechts: NO_CLASS OR .call-active
 */
  #header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #attendees-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #chat-form {
    grid-column: 1 / 2;
    grid-row: 3 / span 4;
  }

  @media screen and (min-width: 47rem) {
    grid-template-columns: $desktopChatWidth 1fr;
    #whiteboard-container {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
    }
    #open-video-button,
    #open-whiteboard-button {
      top: $spacing;
      left: $desktopChatWidth + $spacing;
    }

    &:not(.call-fullscreen) {
      /*
      #open-chat-button, #whiteboard-container, #local-video-container, #hang-up-button,
      #open-video-button,  #open-whiteboard-button, #chat-form, #received-video-container
       */
      #open-chat-button,
      #local-video-container,
      #hang-up-button,
      #open-whiteboard-button {
        display: none;
      }

      #received-video-container {
        position: absolute;
        top: $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
      }
    }

    &.call-fullscreen {
      #open-chat-button,
      #whiteboard-container,
      #open-video-button {
        display: none;
      }
      #received-video-container {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
      }
      #local-video-container {
        position: absolute;
        top: $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
      }
    }
  }
  @media not screen and (min-width: 47rem) {
    #open-chat-button,
    #open-whiteboard-button {
      top: $headerHeight + $attendeesHeight + $spacing;
      left: $spacing;
    }

    &:not(.call-fullscreen):not(.whiteboard-active) {
      #open-chat-button,
      #whiteboard-container,
      #local-video-container,
      #hang-up-button,
      #open-video-button {
        display: none;
      }
    }

    &.whiteboard-active {
      #local-video-container,
      #hang-up-button,
      #open-video-button,
      #open-whiteboard-button,
      #chat-form {
        display: none;
      }
    }

    &.call-fullscreen {
      display: unset;

      #header,
      #attendees-container,
      #open-video-button,
      #open-whiteboard-button,
      #chat-form,
      #whiteboard-container {
        display: none;
      }
      #open-chat-button {
        top: unset;
        left: unset;
        bottom: $spacing;
        right: $spacing;
      }
      #local-video-container {
        position: absolute;
        top: $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
        z-index: $foregroundZIndex;
      }
      #received-video-container {
        width: 100%;
        height: 100%;
      }
    }

    &:not(.call-fullscreen) {
      #received-video-container {
        position: absolute;
        top: $headerHeight + $attendeesHeight + $spacing;
        right: $spacing;
        max-width: $popoutVideoMaxWidth;
        max-height: $popoutVideoMaxHeight;
      }
    }
  }
}
